@import '../../../assets/theme/theme';

.stories {
  &__holder {
    display: grid;
    padding: 5rem 0;
    grid-template-columns: repeat(2, 2fr);
    gap: 3rem;

    @include respond-to(sm-down) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  &__url {
    display: block;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 8px var(--color-grey);
    transition: all 0.2s ease-in-out;

    @include on-event {
      transform: translate(0, -1rem);
      transition: all 0.2s ease-in-out;
    }
  }
}